@import 'mixins';

.footer {
    background-color: var(--color-body);
    padding: 1em 2em;
    
    .mainContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%;
        @include container;

        .colOne, .colTwo {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
        .colOne {
            list-style: none;
            padding: 0;
        }
    }


    .header, .link {
        color: var(--color-white);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .disclaimer {
        margin-top: 5vh;
        text-align: center;
        grid-column: 1 / 3;
        font-size: 0.8em;
        font-weight: 600;
    }
}