@import 'mixins';

.nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 15px 3vw;
    
    .logo {
        text-decoration: none;
        font-size: 0.7em;
        font-weight: 600;
        color: var(--color-body);

        @include respond-above(small) {
            font-size: 1em;
        }
    }

    .navItems {
        display: flex;
        list-style: none;
        margin: 0;

        .navItem {
            margin-left: 1em;
            font-size: 0.7em;
            font-weight: 600;

            @include respond-above(small) {
                font-size: 1em;
            }

            .link {
                color: var(--color-primary);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}